@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.navbar-brand img{
  height: 3rem;
}
.navbar-nav li{
  padding-left: 1rem;
}


.landing {
  position: relative; 
  background: #E9ECEF;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  background-image: url('img/blogbg1.jpg');
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.caption h3{
  	color: white;
	text-shadow: -1px 5px black;
	font-size: 3rem;
	padding-bottom: 2rem;
}
.caption p{
	color: white;
	text-shadow: -1px 2px black;
	font-size: 1rem;
	padding-bottom: 2rem;
}


.blog-body{
	background-color: lightgray;
}
.blog-body .row{
	padding: 2rem 1rem;
  margin-left: 0;
  margin-right: 0;
}

.edit-buttons{
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  }


.footer{
	background-color: gray;
	padding: 0;
}
.footer .row{
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%; 
  margin:0;
}
.footer .row img{
  padding-top: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.footer .row .note{
  padding: 0 0.3rem;

}
.footer .row .email{
  padding-bottom: 1rem;
  margin-bottom: 0;

}
.baseline{
	background-color: black;
	color: white;
	font-size: 1rem;
	margin: 0;
	padding: 0.5rem 0;
}





@media screen and (max-width: 767px){
  .navbar{
    background-color: rgb(0,0,0);
    position: relative !important;
  }
}