@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.navbar-brand img{
  height: 3rem;
}
.navbar-nav li{
  padding-left: 1rem;
}


.landing {
  position: relative; 
  background: #E9ECEF;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  background-image: url('img/bgimg1.jpg');
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.caption h3{
  color: white;
  text-shadow: -1px 5px black;
  font-size: 3rem;
  padding-bottom: 2rem;
}
.btn{
  border-radius: 0;
  border-width: medium;
  font-weight: bold;
  font-size: 1.5rem;
}


.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  }
.swiper-container h3{
  color: black;
  font-size: 2rem;
  margin: 0;
  padding: 2rem 1rem;

}
.swiper-wrapper{
  height: 400px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  min-height:300px;
  background-color: #fff;
  }



.jumb{
  padding: 5rem 0;
  height: 100%;
  background-color: white;
}
.jumb h3{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 2rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
 }
.jumb .row img{
  margin-bottom: 1.5rem;
  box-shadow: 8px -5px 8px 1px rgba(105,105,105,0.41);
}

.jumb .row .col-md-6 p{
  padding-right: 1rem;
}


.footer{
  padding:0;
  height: 80vh
}
.footer .row{
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  height: 80vh;
}
.footer .row img{
  padding-top: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.footer .row .note{
  padding: 0 0.3rem;

}
.footer .row .email{
  padding-bottom: 1rem;
  margin-bottom: 0;

}

.baseline{
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 1rem 0;
}







@media screen and (max-width: 767px){
  .navbar{
    background-color: rgb(0,0,0);
    position: relative !important;
  }
}

@media screen and (max-width: 374px){
  .caption{
    top: 40%;
  }
}






